body{
    background-color: #F9FAFF;
}

a:visited, a{ color: inherit;}

a:hover{
    color: blue;
}



#menu{
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    background-color: #BFC9FF;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

nav ul a{
    color: #202022;
    display: inline-block;
    vertical-align: middle;
    padding-right: 40px;
    font-family: 'Lexend', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    vertical-align: middle;
    line-height: normal;
}

#menu .menu-option:hover{
    color: #3B4EB1;
}

#menu .menu-option:{
    color:red;
}

#content{
    padding: 20px 20px;
    font-size: 1.125em;
    
}



.bold{
    font-weight: 600;
}


#content .wrapper{
    text-align: center;
    margin: 20px 0;
}

.wrapper:not(:first-child)::before{
    content: "";
    display: block;
    background-color: #FFE194;
    width: 100px;
    height: 2px;
    margin: 0 auto;
}

.wrapper:first-child{
    margin-top: 0;
}

.wrapper p{
    font-family: 'Lexend', sans-serif;
    white-space: normal;
    display: block;
    text-align: center;
}

.wrapper > p{
    line-height: 150%;
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
}

.card {
    background-color: #5B6CC6;
    color: #F3F5FF;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    width: 300px;
    padding: 20px 20px;
}

.card-small {
    background-color: #F1C657;
    color: #202022;
    height: auto;
    width: 300px;
    transition: background-color 0.5s ease, color 0.5s ease;
    
}

.card-small:hover, .card-small:active {
    background-color: #5B6CC6;
    transition: background-color 0.5s ease, color 0.5s ease;
    color: #F3F5FF;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.card img{
    border-radius: 2px;
    height: 100%;
    width: 100%;
}

.card-title{
    font-size: 1.25em;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 10px;


}

.explanation{
    margin: 10px 20px 0 20px;
    line-height: 130%;
    font-weight: 400;
    font-size: 1em;
    
}